<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_8082_Waymo_PC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_8082_Waymo_PC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <_8082_Waymo_PC.Properties.Settings>
            <setting name="ReadyCom" serializeAs="String">
                <value>COM7</value>
            </setting>
            <setting name="Default_File" serializeAs="String">
                <value>"c:\\BTD\\DMD-III Seq\\"</value>
            </setting>
            <setting name="I28" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="Zebra" serializeAs="String">
                <value>COM8</value>
            </setting>
            <setting name="Fix_1_Prog" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Fix_2_Prog" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DebugPort" serializeAs="String">
                <value>COM29</value>
            </setting>
            <setting name="HR_ID" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SV_ID" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FlexURL" serializeAs="String">
                <value>http://10.0.0.1/Burgundy/fftester20.asmx</value>
            </setting>
            <setting name="EnableFlexFlow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StationName" serializeAs="String">
                <value>FLEX-M4-CR2-LEAK TEST</value>
            </setting>
            <setting name="DebugLogs" serializeAs="String">
                <value>True</value>
            </setting>
          <setting name="LogDirectory" serializeAs="String">
            <value>c:\\benchtoplogs</value>
          </setting>
        </_8082_Waymo_PC.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <_8082_Waymo_PC.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>V1-T</value>
            </setting>
        </_8082_Waymo_PC.Properties.Settings>
    </applicationSettings>
</configuration>
